<%-include("../partials/header") %>
<%-include("../partials/flash") %>
<!-- heading slide starts -->

<div class="slider">

  <div>
    <h1 class="heading-page">Hello, <span id="greeting"></span> <br> Welcome to classic technologies</h1>
    <h2 id="slogan">"solve all your Tech related problems with us"</h2>
  </div>
		<!-- fade css -->
		<div class="myslide fade">
			<div class="txt">
				<h1>ICT consultancy</h1>
				<p>consult us for all your tech related activities, make us part of your technology journey</p>
        <p class="call-btn">
          <a href="tel: +211928901760" class="btn btn-outline-info btn-blue btn-lg px-3 me-md-2"><i id="call-logo" class="fa fa-phone" aria-hidden="true"></i> </a>
          <a href="https://api.whatsapp.com/send?phone=256781977217" style="margin-left: 10px; "class="btn btn-outline-info btn-blue btn-lg px-3 me-md-2"><i id="call-logo" class="fab fa-whatsapp" ></i> </a>
        </p>
      </div>
		</div>

		<div class="myslide fade">
			<div class="txt">
				<h1>Web development</h1>
				<p>we design & create website and web apps to suit your needs, for schools, organisations, businesses and for artistes </p>
        <p class="call-btn">
          <a href="tel: +211928901760" class="btn btn-outline-info btn-blue btn-lg px-3 me-md-2"><i id="call-logo" class="fa fa-phone" aria-hidden="true"></i> </a>
          <a href="https://api.whatsapp.com/send?phone=256781977217" style="margin-left: 10px; "class="btn btn-outline-info btn-blue btn-lg px-3 me-md-2"><i id="call-logo" class="fab fa-whatsapp" ></i> </a>
        </p>
      </div>
		</div>

		<div class="myslide fade">
			<div class="txt">
        <h1>Graphic Design</h1>
				<p>we design Logos, business cards, ID Cards, Banners, Posters, Certificates, Photos etc.</p>
        <p class="call-btn">
          <a href="tel: +211928901760" class="btn btn-outline-info btn-blue btn-lg px-3 me-md-2"><i id="call-logo" class="fa fa-phone" aria-hidden="true"></i> </a>
          <a href="https://api.whatsapp.com/send?phone=256781977217" style="margin-left: 10px; "class="btn btn-outline-info btn-blue btn-lg px-3 me-md-2"><i id="call-logo" class="fab fa-whatsapp" ></i> </a>
        </p>
      </div>
		</div>

		<div class="myslide fade">
			<div class="txt">
        <h1>App develoment</h1>
				<p>we design & create scalable apps for both android and apple depending with your need. </p>
        <p class="call-btn">
          <a href="tel: +211928901760" class="btn btn-outline-info btn-blue btn-lg px-3 me-md-2"><i id="call-logo" class="fa fa-phone" aria-hidden="true"></i> </a>
          <a href="https://api.whatsapp.com/send?phone=256781977217" style="margin-left: 10px; "class="btn"><i id="call-logo" class="fab fa-whatsapp" ></i> </a>
        </p>
      </div>
		</div>

		<div class="myslide fade">
			<div class="txt">
        <h1 id="lastslide">Windows & softwares installation</h1>
				<p>We can also install for you Windows & all softwares needed for your smooth running of your tech activities. </p>
        <p class="call-btn">
          <a href="tel: +211928901760" class="btn btn-outline-info btn-blue btn-lg px-3 me-md-2"><i id="call-logo" class="fa fa-phone" aria-hidden="true"></i> </a>
          <a href="https://api.whatsapp.com/send?phone=256781977217" style="margin-left: 10px; "class="btn btn-outline-info btn-blue btn-lg px-3 me-md-2"><i id="call-logo" class="fab fa-whatsapp" ></i> </a>
        </p>
      </div>
		</div>
		<!-- /fade css -->

		<!-- onclick js -->
		<a class="prev" onclick="plusSlides(-1)">&#10094;</a>
  	<a class="next" onclick="plusSlides(1)">&#10095;</a>

		<div class="dotsbox" style="text-align:center">
			<span class="dot" onclick="currentSlide(1)"></span>
			<span class="dot" onclick="currentSlide(2)"></span>
			<span class="dot" onclick="currentSlide(3)"></span>
			<span class="dot" onclick="currentSlide(4)"></span>
			<span class="dot" onclick="currentSlide(5)"></span>
		</div>
		<!-- /onclick js -->
	</div>

<!-- heading slide ends  -->




<!-- about section starts  -->

<section class="about" id="about">

  <div class="container">
    <div class="contact" style="text-align:center">
      <span style="color:#cd7700; font-weight: bold;">Who we are</span>
    </div>
    <p id="p6">
      Established in 2019, Classic Technologies is a pioneer in ICT services, specializing in website development, mobile app creation, and graphic design. Our expertise extends to ICT consultancy and a plethora of other services tailored to meet your digital needs. With a commitment to excellence, we harness cutting-edge technologies to deliver innovative solutions. Our team of seasoned professionals is dedicated to providing top-notch services, ensuring your projects are executed seamlessly from inception to completion. At Classic Technologies, we strive to exceed expectations, offering simple yet powerful solutions to propel your business into the digital age.
    </p>
    <div class="row">
      <div id="about2" class="column" data-skew="90deg,90deg">
        <img id="text2" src="images/b.jpg" width="auto" height="400px"alt="">
      </div>
      <div id="about1" class="column" data-rotate-y="270deg" data-move-x="150%">

        <p> <strong style="color:#cd7700;">Why working with us.</strong>  <br></p>

        <p id="p1"> 1. Expertise: Our team consists of skilled professionals with years of experience in website development, mobile app creation, graphic design, and ICT consultancy.</p>

        <p id="p2"> 2. Innovation: We stay ahead of the curve, constantly exploring new technologies and trends to ensure your projects are cutting-edge and impactful.</p>

        <p id="p2"> 3. Tailored Solutions: We understand that every client is unique. That's why we provide personalized services tailored to your specific requirements and goals.</p>

        <p id="p2"> 4. Quality Assurance: With rigorous testing and attention to detail, we ensure that our deliverables meet the highest standards of quality and reliability.</p>

        <p id="p2"> 5. Client Satisfaction: Our ultimate goal is your satisfaction. We prioritize clear communication, timely delivery, and ongoing support to ensure a smooth and successful collaboration. what are you waiting for?.</p> <br>

        <a href="tel: +211927996390" class="btn">Get In Touch with us</a>

      </div>
    </div>
  </div>


</section>
<!-- about section ends -->



<!-- services section starts  -->

<section class="services" id="services">

    <div class="heading">
      <span>Our services</span>
    </div>

    <div class="row">
      <div class="column7"><div class="block" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px" data-aos="fade-up" data-aos-duration="1200">
        <img id="serv2" src="images/p10.png" width="100%" height="200" alt="">
        <h2 id="serv">Web Development</h2>
        <p id="serv1">classic technologies specializes in web development, creating responsive and feature-rich websites that captivate audiences. Our skilled team leverages the latest web technologies to deliver stunning designs and seamless functionality, ensuring an immersive online experience for your users.</p>
      </div>
    </div>

      <div class="column7"><div class="block" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px" data-aos="fade-up" data-aos-duration="1200">
        <img  id="serv2" src="images/ict.jpg" width="100%" height="200" alt="">
        <h2 id="serv">ICT consultancy</h2>
        <p id="serv1">classic technologies's ICT consultancy services offer expert guidance in leveraging technology to achieve your business goals. We provide strategic planning, infrastructure optimization, and tailored solutions to enhance efficiency, productivity, and security, enabling your organization to thrive in the digital era.</p>
      </div>
    </div>

    <div class="column7"><div class="block" data-rotate-x="90deg" data-move-z="-500px" data-move-y="200px" data-aos="fade-down" data-aos-duration="1500">
      <img id="serv2" src="images/p11.jpg" width="100%" height="200" alt="">
      <h2 id="serv">Cyber Security</h2>
      <p id="serv1">we offers comprehensive cybersecurity services, including penetration testing, vulnerability analysis, and threat mitigation. Our expert team employs cutting-edge techniques to safeguard your digital assets, ensuring resilience against cyber threats and maintaining the integrity of your online presence.</p>
    </div>
  </div>

</div>

    <div class="row">
      <div class="column2">
        <div class="block" data-rotate-y="180deg" data-move-z="-200px" data-move-x="-300px" data-aos="fade-left" data-aos-duration="1100">
        <img id="serv2" src="images/isp.jpg" width="100%" height="200" alt="">
        <h3 id="serv">Internet Service Provider (ISP)</h3>
        <p id="serv1">Classic Technologies offers reliable Internet Service Provider (ISP) solutions, ensuring high-speed, secure, and uninterrupted internet access. Our ISP services include robust connectivity, exceptional customer support, and tailored plans to meet the unique needs of businesses and individuals, enhancing online experiences.</p>
      </div>
    </div>

      <div class="column2"><div class="block" data-rotate-x="180deg" data-rotate-y="180deg" data-move-z="-700px" data-aos="fade-right" data-aos-duration="1200">
        <img id="serv2" src="images/pt.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Printing Services</h2>
        <p id="serv1">we offers comprehensive Printing Services, providing high-quality, customized print solutions. From business cards to brochures, our team ensures vibrant colors, sharp details, and fast turnaround times, helping your brand make a lasting impression with professional and eye-catching printed materials.</p>
      </div>
    </div>

      <div class="column2"><div class="block" data-rotate-x="180deg" data-rotate-y="45deg" data-move-z="-500px" data-aos="fade-left" data-aos-duration="1100">
        <img id="serv2" src="images/dl.jpg" width="100%" height="200" alt="">
        <h2 id="serv">IT Equipment Delivery </h2>
        <p id="serv1">Classic Technologies offers IT Equipment Delivery, ensuring timely and secure transport of essential hardware. Our service guarantees that your business receives the necessary equipment intact and operational, minimizing downtime and maximizing productivity with professional handling and efficient logistics.</p>
      </div>
    </div>

      <div class="column2"><div class="block" data-rotate-y="180deg" data-move-z="-100px" data-move-x="500px" data-rotate-y="180deg" data-move-z="-100px" data-move-x="500px" data-aos="fade-right" data-aos-delay="150">
        <img id="serv2" src="images/web.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Web Hosting</h2>
        <p id="serv1">Classic Technologies offers Web Hosting, providing reliable and secure server space for your website. Our hosting services ensure fast loading times, high uptime, and robust security, allowing your site to perform optimally and handle traffic seamlessly, ensuring a smooth user experience to all the customers.</p>
      </div>
    </div>

    </div>

    <div class="row">
      <div class="column3"><div class="block" data-rotate-y="270deg" data-move-x="-150%" data-rotate-y="180deg" data-move-z="-200px" data-move-x="-300px" data-aos="zoom-in-right" data-aos-delay="280">
        <img id="serv2" src="images/w.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Windows & softwares installation</h2>
        <p id="serv1">Classic Technologies offers expert Windows and software installation services. Our seasoned team ensures seamless setup, configuring systems to optimize performance. From Windows OS installations to essential software setups, we guarantee a smooth transition, empowering clients with reliable computing environments.</p>
      </div>
    </div>

    <div class="column3"><div class="block" data-rotate-y="270deg" data-move-x="150%" data-rotate-x="180deg" data-rotate-y="180deg" data-move-z="-700px" data-aos="zoom-in-left" data-aos-delay="250">
      <img id="serv2" src="images/f.jpg" width="100%" height="200" alt="">
      <h3 id="serv">Phones Flashing & Iphone Set up</h3>
      <p id="serv1">Customer support at Classic Technologies is unparalleled. Our dedicated team is available around the clock to address any inquiries or issues promptly and efficiently. We prioritize client satisfaction, offering personalized assistance to ensure a smooth and satisfying experience to our beloved clients.
      <a href="tel: +211928901760">Get in touch with me <i class="fas fa-angle-right"></i></a>
      </p>
    </div>
    </div>


    </div>


    <div class="row">
      <div class="column7"><div class="block" data-rotate-x="90deg" data-move-z="-400px" data-move-y="200px" data-aos="fade-left" data-aos-duration="1200">
        <img id="serv2" src="images/cr.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Computer Repair</h2>
        <p id="serv1">Classic Technologies offers expert Computer Repair services, diagnosing and fixing hardware and software issues efficiently. Our skilled technicians ensure your device is restored to optimal performance, providing reliable solutions to keep your technology running smoothly.</p>
      </div>
    </div>

      <div class="column7"><div class="block" data-rotate-x="90deg" data-move-z="500px" data-move-y="200px" data-aos="fade-down" data-aos-duration="1500">
        <img id="serv2" src="images/p140.jfif" width="100%" height="200" alt="">
        <h2 id="serv">UX & UI Design</h2>
        <p id="serv1">Classic Technologies offers comprehensive UX (User Experience) and UI (User Interface) design services. We meticulously craft intuitive interfaces and seamless user experiences, ensuring your digital platforms engage and delight users, driving satisfaction and maximizing interaction efficiency.</p>
      </div>
    </div>

      <div class="column7"><div class="block" data-rotate-x="90deg" data-move-z="-100px" data-move-y="200px" data-aos="fade-right" data-aos-duration="1200">
        <img  id="serv2" src="images/24.png" width="100%" height="200" alt="">
        <h2 id="serv">24/7 customer's support</h2>
        <p id="serv1">Customer support at Classic Technologies is unparalleled. Our dedicated team is available around the clock to address any inquiries or issues promptly and efficiently. We prioritize client satisfaction, offering personalized assistance to ensure a smooth and satisfying experience.
        <a href="tel: +211928901760">Get in touch with me <i class="fas fa-angle-right"></i></a>
      </div>
    </div>

    </div>

    <div class="row">
      <div class="column2">
        <div class="block" data-rotate-y="180deg" data-move-z="-200px" data-move-x="-300px" data-aos="fade-left" data-aos-duration="1100">
        <img id="serv2" src="images/g.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Graphics Design</h2>
        <p id="serv1"> Classic Technologies's Graphic Design Team Brings Creativity And Innovation To Life. From Eye-Catching Logos To Stunning Marketing Collateral, We Deliver Captivating Designs That Elevate Your Brand Identity And Leave a Lasting Impression On Your Audience. Our designs are meticulously crafted, ensuring maximum impact.</p>
      </div>
    </div>

      <div class="column2"><div class="block" data-rotate-x="180deg" data-rotate-y="180deg" data-move-z="-700px" data-aos="fade-right" data-aos-duration="1200">
        <img id="serv2" src="images/p12.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Apps Development</h2>
        <p id="serv1">Classic Technologies offers top-notch app development services, crafting user-friendly, visually appealing mobile applications that cater to diverse business needs. We combine cutting-edge technology, intuitive design, and innovative strategies to create seamless app experiences that engage, captivate, and delight users.</p>
      </div>
    </div>

      <div class="column2"><div class="block" data-rotate-x="180deg" data-rotate-y="45deg" data-move-z="-500px" data-aos="fade-left" data-aos-duration="1100">
        <img id="serv2" src="images/ip.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Internship Program </h2>
        <p id="serv1">we offer internship program provides aspiring professionals with hands-on experience in the tech industry. Our comprehensive program offers mentorship, training, and real-world projects, empowering interns to develop skills and kick-start their careers in a dynamic and supportive environment.</p>
      </div>
    </div>

      <div class="column2"><div class="block" data-rotate-y="180deg" data-move-z="-100px" data-move-x="500px" data-rotate-y="180deg" data-move-z="-100px" data-move-x="500px" data-aos="fade-right" data-aos-delay="150">
        <img id="serv2" src="images/p17.jpg" width="100%" height="200" alt="">
        <h2 id="serv">Computer Training</h2>
        <p id="serv1">we offers comprehensive computer training services designed to empower individuals and businesses with essential digital skills. Our tailored programs cover a range of topics, from basic computing to advanced software proficiency, ensuring clients gain the knowledge needed for success in today's digital world.</p>
      </div>
    </div>

    </div>


</section>

<!-- services section ends -->



<!-- Project section starts  -->

  <%-include("../home/projects") %>
 
<!-- Project section ends  -->



<!-- review section starts  -->

<%-include("../reviews/index") %>

<!-- review section ends  -->



<!-- Involved section starts  -->

<div class="heading">
  <h1 style="color: #cd7700;">Get Involved</h1>
</div>

  <div class="row">
    <div class="overlay-container">
  <img src="images/d.png" alt="Avatar" class="image">
  <h1 class="overlay-text">Partner With Us</h1>
  <div class="overlay">
    <div class="text"> <a class="overlay-link" href="/contact">Partner With Us</a> </div>
  </div>
 </div>

 <div class="overlay-container">
  <img src="images/d.png" alt="Avatar" class="image">
  <h1 class="overlay-text">Follow Us</h1>
  <div class="overlay">
    <div class="text"> <a class="overlay-link" href="https://www.facebook.com/profile.php?id=61561150475445">Follow Us</a> </div>
  </div>
</div>

<div class="overlay-container">
  <img src="images/d.png" alt="Avatar" class="image">
  <h1 class="overlay-text"> Contact Us </h1>
  <div class="overlay">
    <div class="text"><a class="overlay-link" href="tel: +211927996390">Contact Us</a></div>
  </div>
</div>

</div>

<!-- Involved section ends -->


<!-- blogpost section starts -->

<%-include("../blogPost/index-home") %>

<!-- blogpost section ends -->



<!-- blogpost section starts -->

<section class="team">

<div class="row">

  <div id="subscribe" class="column" data-aos="fade-down" data-aos-delay="600">
  <h3 style="color: #cd7700;">Subscribe To Our Newsletter</h3>
  </div>


  <div id="subscribe1" class="column" data-aos="fade-up" data-aos-delay="600">
    <form action="/subscribe" method="post">
        <input class="subscribe" type="email" name="email" placeholder="enter your email" required>
        <input id="subscribe-btn" type="submit" value="subscribe">
    </form>
  </div>
</div>
</div>

</section>

<!-- blogpost section ends -->



<!-- footer begin -->

<%-include("../partials/footer") %>

<!-- footer ends -->
